<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Indaas数据湖-管理平台</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <img style="padding-top: 17px;height: 25px;width: 130px;" src="../static/img/indaas-white.svg"/>
        <div class="layui-logo" style="padding-left: 80px">数据湖-管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    开发者
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据汇聚</a>
                    <dl class="layui-nav-child">
                        <dd class="material layui-this"><a>生产材料</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd class="manufacturer"><a>原料厂商</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe class="target" width="100%" height="99%" src="material.html"></iframe>
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        var $ = layui.$;

        $('.material').click(function(){
            $('.target').attr('src','material.html')
        })
        $('.manufacturer').click(function(){
            $('.target').attr('src','manufacturer.html')
        })
    });
</script>
</body>
</html>