<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>客户资源-管理平台</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/jqgrid/css/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" href ="../static/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href ="../static/jqgrid/css/ui.jqgrid-bootstrap-ui.css"/>

    <script src="../static/layui/layui.js"></script>
    <script type="text/javascript" src="../static/jqgrid/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript" src="../static/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="layui-layout-body">

<form class="layui-form" action="" style="padding-top: 20px">
    <!-- 下拉框 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 100px;">请选择星级</label>
        <div class="layui-input-block" style="width: 200px;">
            <select name="star" lay-filter="aihao">
                <option value=""></option>
                <option value="1">一星级</option>
                <option value="2">二星级</option>
                <option value="3">三星级</option>
                <option value="4">四星级</option>
                <option value="5">五星级</option>
            </select>
        </div>
    </div>
    <!-- 未跟进天数 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 100px;">未跟进天数</label>
        <div class="layui-input-block" style="width: 200px;">
            <select name="day" lay-filter="aihao">
                <option value=""></option>
                <option value="3">三天内</option>
                <option value="5">五天内</option>
                <option value="7">一周内</option>
                <option value="14">两周内</option>
                <option value="30">一月内</option>
            </select>
        </div>
    </div>
    <!-- 关键字查询 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 100px;">查询关键字</label>
        <div class="layui-input-block">
            <input type="text" name="content" lay-verify="title" autocomplete="off" placeholder="请输入查询关键字" class="layui-input" style="width: 200px;">
        </div>
    </div>
    <!-- 查询按钮 -->
    <button type="button" class="layui-btn" style="margin-left: 20px;">查询</button>
</form>

<!-- 表单 -->
<table id="list"></table>
<div id="pager"></div>


<script type="text/javascript">
    //JavaScript代码区域
    layui.use(['element', 'form'], function(){
        var element = layui.element,
        form = layui.form,
        $ = layui.$;


        var dataArray = [
            {name: 'Bob', phone: '232-532-6268'},
            {name: 'Jeff', phone: '365-267-8325'}
        ];

        $("#list").jqGrid({
            datatype: 'local',
            data: dataArray,
            colModel: [
                {name: 'name', label : 'Name'},
                {name: 'phone', label : 'Phone Number'}
            ],
            caption : 'Users Grid',
            styleUI: 'Bootstrap',
            height: 'auto',
            rowNum: 5,
            pager: '#pager'
        });


    });
</script>
</body>
</html>