<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>客户资源-管理平台</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>
</head>
<body class="layui-layout-body">

<form id="form" class="layui-form" action="" style="padding-top: 20px" method="get">
    <!-- 星级 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">请选择星级</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="star" name="star" lay-filter="aihao">
                <option value=""></option>
                <option value="1">一星级</option>
                <option value="2">二星级</option>
                <option value="3">三星级</option>
                <option value="4">四星级</option>
                <option value="5">五星级</option>
            </select>
        </div>
    </div>
    <!-- 未跟进天数 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">未跟进天数</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="day" name="day" lay-filter="aihao">
                <option value=""></option>
                <option value="3">三天内</option>
                <option value="5">五天内</option>
                <option value="7">一周内</option>
                <option value="14">两周内</option>
                <option value="30">一月内</option>
            </select>
        </div>
    </div>
    <!-- 公积金 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">是否有积金</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="money" name="money" lay-filter="aihao">
                <option value=""></option>
                <option value="1">有</option>
                <option value="0">无</option>
            </select>
        </div>
    </div>
    <!-- 房 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">是否有房</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="home" name="home" lay-filter="aihao">
                <option value=""></option>
                <option value="1">有</option>
                <option value="0">无</option>
            </select>
        </div>
    </div>
    <!-- 车 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">是否有车</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="car" name="car" lay-filter="aihao">
                <option value=""></option>
                <option value="1">有</option>
                <option value="0">无</option>
            </select>
        </div>
    </div>
    <!-- 保单-->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">是否有保单</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="baodan" name="baodan" lay-filter="aihao">
                <option value=""></option>
                <option value="1">有</option>
                <option value="0">无</option>
            </select>
        </div>
    </div>
    <!-- 社保-->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">是否有社保</label>
        <div class="layui-input-block" style="width: 100px;">
            <select id="shebao" name="shebao" lay-filter="aihao">
                <option value=""></option>
                <option value="1">有</option>
                <option value="0">无</option>
            </select>
        </div>
    </div>
    <!-- 关键字查询 -->
    <div class="layui-form-item" style="display: inline-block;">
        <label class="layui-form-label" style="width: 80px;">查询关键字</label>
        <div class="layui-input-block">
            <input id="content" type="text" name="content" lay-verify="title" autocomplete="off" placeholder="请输入查询标记内容关键字" class="layui-input" style="width: 200px;">
        </div>
    </div>
    <!-- 查询按钮 -->
    <button id="search" type="button" class="layui-btn"  data-type="reload" style="margin-left: 20px;">查询</button>
</form>

<!-- 表单 -->
<table class="layui-hide" id="list" lay-filter="demo"></table>


<script type="text/html" id="extend">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">客户详情</a>
</script>
<script type="text/javascript">
    //JavaScript代码区域
    layui.use(['element','form','table'], function(){
        var element = layui.element,
        form = layui.form,
        table = layui.table;
        var $ = layui.$;

        table.render({
            elem: '#list'
            ,url:'/pageData'
            ,cellMinWidth: 120 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'id', width:100, title: '序号', sort: true}
                ,{field:'name', width:150, title: '姓名', sort: true}
                ,{field:'phone', width:250, title: '手机号', sort: true}
                ,{field:'content', width:700, title: '标记内容', sort: true}
                ,{field:'createtime', title: '签名', width: 200, sort: true}
                ,{fixed: 'right', title:'扩展功能', width:180, align:'center', toolbar: '#extend'}
            ]],
            page: true,
            id: 'pageContent'
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
                layer.open({
                    type: 2,
                    area: ['1200px', '700px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: 'detail.html?pid='+data.id
                });
            }
        });
        active = {
            reload: function () {
                var star = $("#star");
                var day = $("#day");
                var money = $("#money");
                var home = $("#home");
                var car = $("#car");
                var baodan = $("#baodan");
                var shebao = $("#shebao");
                var content = $("#content");
                table.reload('pageContent', {
                    url: 'http://localhost:6677/searchData',
                    page: {
                        curr: 1  //重新从第 1 页开始
                    }
                    , where: {
                        star: star.val(),
                        day: day.val(),
                        money: money.val(),
                        home: home.val(),
                        car: car.val(),
                        baodan: baodan.val(),
                        shebao: shebao.val(),
                        content: content.val()
                    }
                }, 'data');
            }
        }
        $("#search").on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        })
    });
</script>
</body>
</html>